body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8EB897;
}

.header {
    background-color: transparent;
    padding: 10px;
}

.logo {
    width: 200px;
    height: auto;
    margin: 0;
}

.search-bar {
    background-color: transparent;
    padding: 5px;
    margin: 5px;
}

.search-input {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.verify-button {
    text-align: center;
}

#verify-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #22e600;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#verify-button:hover {
    background-color: #22e600;
}
