body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8EB897;
    text-align: center;
    
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    background-color: transparent;
    padding: 10px;
}

.logo {
    width: 200px;
    margin: 0;
    left: 50%;
    top: -10px;
    position: absolute;
    transform: translateX(-50%);
    transition: left 0.5s ease;
}

.search-bar {
    background-color: transparent;
    padding: 5px;
    margin: 5px;
    transition: all 0.5s ease; /* Smooth transition effect */
    text-align: center;
    border: 2px;
}
.search-input {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
}

.verify-button {
    text-align: center;
    transition: all 0.5s ease;
}

#verify-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slide-left {
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

#verify-button:hover {
    background-color: #ccc;
}
.textbox {
    width: 200px;
    height: 30px;
    padding: 20px;
    border: 5px solid #000000;
    border-radius: 5px;
    position: absolute; /* Position the text box absolutely */
    right: 10%; /* Adjust the right distance as needed */
    top: 50%; /* Position vertically at the center */
    opacity: 0; /* Start with 0 opacity */
    transition: opacity 0.5s;
    background: #fff;
    font-family: Montserrat, sans-serif;;
    font-size: 24px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
    padding: 40px;
    box-shadow:
        inset #040404 0 0 0 5px, 
        inset #2f2f2f 0 0 0 1px, 
        inset rgb(104, 104, 104) 0 0 0 10px, 
        inset #949494 0 0 0 11px, 
        inset #b3b3b3 0 0 0 16px, 
        inset #d5d5d5 0 0 0 17px, 
        inset #dedede 0 0 0 21px, 
        inset #ffffff 0 0 0 22px;
    text-shadow: 1px 1px 1px #cfcfcf;
}
