body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8EB897;
}

.header {
    background-color: transparent;
    padding: 10px;
}

.logo {
    width: 200px; /* Adjust the size as needed */
    height: auto; /* Maintain the aspect ratio */
    margin: 0; /* Remove auto margin to place the logo in the upper left corner */
}

.search-bar {
    background-color: transparent;
    padding: 5px; /* Increase the padding to make it bigger */
    margin: 5px; /* Increase the top and bottom margins for spacing */
}

.search-input {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
